[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
"pysha3" = "*"
ecdsa = "*"

[requires]
python_version = "3"

[scripts]
create_accounts = "python ./create_accounts.py"
